.__shortcut__ {
  background-color: gray;
  width: 75px;
  height: 75px;
  border-radius: 25px;
  border: solid 2px black 
}
.__main-menu__ {
   background-color: rgb(67, 66, 66);
   border-radius: 10px;
   width: 600px;
   height: 400px;
   contain: content;
}
.__top-bar__ {
  background-color: rgb(157, 157, 157);
  width: 595px;
  height: 15px;
  border-radius: 20px;
  margin-top: 2px;
  margin-left: 2px;
  z-index: 1;
}
.__side-bar__ {
  width: 200px;
  height: 380px;
  background-color: black;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 20px;
  
}

.__menu-container__ {
  background-color: rgb(255, 0, 0);
  width: 200px;
  height: 40px;
  margin-left: 10px;
  margin-top: 2px;
  z-index: 10;
}